@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is aHeader</h1>
    <div style="color: #ff0000; font-size: 32pt; font-family: sans-serif;">
        @Model World (from the view)
    </div>
</body>
</html>